#hero {
  width: 100%;
  height: 100vh;
  background: url("./Images/dan-calderwood-4ud7LlhH0Fc-unsplash.jpeg");
  background-size: cover;
  position: relative;
  opacity: .9;
}

body {
  font-family: 'Poppins', sans-serif;
}


#header {
  background: rgba(25, 28, 31, 0.3);
  height: 60px;
}

#hero-container {
  opacity: 1;
}
.navbar a {
  color: #e0ddda;
}
.navbar .fab {
  font-size: 23px; 
}
.nav-link {
  font-size: 14px;
  text-transform: uppercase;
}

.mdNavbar a:hover {
  color: #fff;
  font-weight: 400;
  transition: .3s ease-in-out;
}


.bg-dark {
  opacity: .7;
}


#hero .hero-container {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  flex-direction: column;
  color: white;
  padding-bottom: 80px;
}
h1 {
  font-weight: 700;
  font-size: 55px; 
  font-family: 'Lato', sans-serif; 
  text-shadow: 1px 1px #666;
}

#hero h2 {
  font-size: 25px;
}

h3 a {
  color: white;
}
#hero #bounce {
  animation: bounce 3s linear infinite;
}
@keyframes bounce {
  20% {
    transform: translateY(-10px);
  }
  30% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(0);
  }
}

.fa-chevron-down {
  color: white;
  font-size: 33px;
}


/*-------About Secion-----------*/
#about .container {
  padding-top: 30px;
  padding-bottom: 100px;
}


.section-title {
  text-align: center;
  font-size: 35px;
  padding-bottom: 30px;
}
.me {
  text-align: center;
}
.me .aboutContent {
  font-size: 15px;
}

.skills {
  padding-left: 35px;
}

#about .progressBar .value {
  float: right;
}

.aboutImg {
  max-width: 250px;
}

/*----------Portfolio----------*/

#portfolio .container {
  padding-top: 30px;
  padding-bottom: 50px;
}

#portfolio {
  background-color: #f5f5f5;
}



